<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>filelar</title>
</head>
<body>
    <h1>Yuklangan filelar</h1>
    <ul>
            <% result.forEach(image =>{ %>
                <li><img src="<%= image.imgurl %>"></li>
            <%})%>
    </ul>

    <a href="/">bosh sahifaga qaytish</a>
    <a href="/fileupload">file yuklash</a>

</body>
</html>